<template>
<card title="Tambah Pegawai">
    <form @submit.prevent="save">
    <div class="form-group row">
        <label for="inputNama" class="col-sm-4 col-form-label text-right">Nama</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" v-model="form.name" id="inputNama" placeholder="Nama">
        </div>
    </div>
    <div class="form-group row">
       <label for="inputDate_of_birth" class="col-sm-4 col-form-label text-right">Tanggal Lahir</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" v-model="form.date_of_birth" id="inputDate_of_birth" placeholder="Tanggal Lahir">
        </div>
    </div>
     <div class="form-group row">
        <label for="inputjob_title" class="col-sm-4 col-form-label text-right">Bagian</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" v-model="form.job_title" id="inputjob_title" placeholder="Bagian">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button class="btn btn-primary" :disabled="loading">Tambah Pegawai</button>
            <router-link to="/employee" class="btn btn-primary float-right">Kembali</router-link>
        </div>
        <div class="col-sm-10 offset-sm-2">
            
        </div>
    </div>
     
</form>
</card>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {

  middleware: "auth",

  head() {
    return { 
        title: "Tambah Pegawai",
      
        };
  },

    async asyncData(){
       
    },

    data(){
        return{
            form:{
                name:'',
                job_title : '',
                date_of_birth: '',
            },
            loading:false,
        }

    },

    methods:{
       async save(){
        this.loading = true
        let res = (await axios.post('employee', this.form)).data
        this.loading = false
        Swal.fire({
        icon: 'success',
        title: 'Berhasil!',
        text: 'Data berhasil disimpan',
        confirmButtonText: 'ok',
                })
       this.$router.back()
        }
       
    },

};
</script>
