<template>
<card title="Catat Presensi Anda">
    <div class="container">
        <div class="row">
            Tanggal: {{currentDate}}<br>
            Waktu: {{this.form.currentTime}}
        </div>
    </div>
    
    <form @submit.prevent="save">
    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" :disabled="loading">Simpan Presensi</button>
            <router-link to="/employee" class="btn btn-primary float-right">Kembali</router-link>
        </div>
        <div class="col-sm-10 offset-sm-2">
            
        </div>
    </div>
</form>
</card>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {

  middleware: "auth",

  head() {
    return { 
        title: "Catat Presence Anda",
      
        };
  },

    async asyncData(){
       
    },

    data(){
        return{
            form:{
                latitude:'',
                longitude : '',
                timezone: '',
                currentTime:''
            },
            loading:false,
            currentDate:null,
            currentTime:null
        }

    },

    methods:{
        updateDate(){
            var today = new Date();
            this.currentDate = today.getFullYear()+'-'+(today.getMonth()+1+'').padStart(2,'0')+'-'+(today.getDate()+'').padStart(2,'0');
            setTimeout(this.updateDate,1000)
        },
        
        updateTime(){
            var today = new Date();
            this.form.currentTime = (today.getHours()+'').padStart(2,'0') + ":" + (today.getMinutes()+'').padStart(2,'0') + ":" + (today.getSeconds()+'').padStart(2,'0');
            setTimeout(this.updateTime,900)
        },

        getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                this.form.latitude = position.coords.latitude
                this.form.longitude = position.coords.longitude
            });
        } else {
            this.form.latitude = 0
            this.form.longitude = 0
        }
    },

       async save(){
        this.loading = true
        let res = (await axios.post('presence', this.form)).data
        console.log(res)
        this.loading = false
        Swal.fire({
        icon: 'success',
        title: 'Berhasil!',
        text: 'Data berhasil disimpan',
        confirmButtonText: 'ok',
                })
       this.$router.back()
        }
       
    },

    created(){
        this.getLocation()
        this.form.timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
        this.updateDate()
        this.updateTime()
    }

};
</script>
